In [2]:
import pandas as pd
import numpy as np

### xgb

In [53]:
xgb = pd.read_csv('xgb.csv', header = None)

In [54]:
xgb

,0,1,2,3,4,5,6
0,train_n_100_lr_0.3_d_3_child_1,438.95,438.61,444.65,436.71,440.97,439.98
1,val_n_100_lr_0.3_d_3_child_1,465.61,472.75,447.77,478.95,456.21,464.26
2,train_n_100_lr_0.3_d_3_child_2,439.90,438.32,444.60,436.83,440.92,440.11
3,val_n_100_lr_0.3_d_3_child_2,464.40,472.18,448.26,479.38,454.27,463.70
4,train_n_100_lr_0.3_d_3_child_5,440.25,440.50,444.57,436.06,443.75,441.03
...,...,...,...,...,...,...,...
795,val_n_1000_lr_0.05_d_6_child_12,475.91,479.62,457.29,488.34,464.28,473.09
796,train_n_1000_lr_0.05_d_6_child_16,370.59,371.16,372.01,369.10,371.12,370.80
797,val_n_1000_lr_0.05_d_6_child_16,472.92,478.43,456.20,485.51,464.20,471.45
798,train_n_1000_lr_0.05_d_6_child_20,378.62,376.25,378.55,370.03,382.81,377.25
799,val_n_1000_lr_0.05_d_6_child_20,471.48,479.42,456.79,484.82,463.32,471.17

In [55]:
val = xgb[1::2]
val_top20 = val.sort_values([6])[:20]
val_top20

,0,1,2,3,4,5,6
611,val_n_200_lr_0.1_d_4_child_16,462.56,468.17,445.83,476.63,453.64,461.37
691,val_n_500_lr_0.05_d_4_child_20,463.25,468.52,446.35,476.16,453.38,461.53
687,val_n_500_lr_0.05_d_4_child_12,462.97,468.56,446.60,476.03,453.75,461.58
613,val_n_200_lr_0.1_d_4_child_20,462.71,469.46,446.25,476.61,453.45,461.70
575,val_n_100_lr_0.1_d_6_child_16,462.30,468.50,446.04,477.23,454.51,461.72
653,val_n_200_lr_0.05_d_6_child_16,463.00,468.71,446.42,476.89,453.71,461.75
631,val_n_200_lr_0.1_d_5_child_20,465.10,468.69,445.74,475.70,453.56,461.76
689,val_n_500_lr_0.05_d_4_child_16,463.72,468.18,446.71,476.73,453.71,461.81
319,val_n_500_lr_0.05_d_4_child_10,463.07,468.39,446.92,477.10,453.62,461.82
743,val_n_1000_lr_0.05_d_3_child_16,462.73,468.85,447.08,476.81,453.70,461.83
635,val_n_200_lr_0.05_d_5_child_16,462.80,469.16,446.24,477.84,453.46,461.90
223,val_n_200_lr_0.05_d_5_child_10,463.55,468.94,446.19,477.54,453.67,461.98
633,val_n_200_lr_0.05_d_5_child_12,463.50,468.98,445.51,477.75,454.15,461.98
555,val_n_100_lr_0.1_d_5_child_12,463.73,468.72,447.05,477.26,453.18,461.99
667,val_n_500_lr_0.1_d_3_child_20,463.71,469.91,447.18,475.37,453.86,462.01
255,val_n_200_lr_0.05_d_6_child_10,463.37,468.67,447.05,477.32,453.93,462.07
609,val_n_200_lr_0.1_d_4_child_12,462.96,469.36,446.41,477.77,453.94,462.09
665,val_n_500_lr_0.1_d_3_child_16,463.22,469.61,446.99,477.08,453.85,462.15
745,val_n_1000_lr_0.05_d_3_child_20,464.10,469.52,447.62,475.49,454.02,462.15
573,val_n_100_lr_0.1_d_6_child_12,463.74,469.32,446.87,476.69,454.16,462.16

In [56]:
train_top20 = xgb.iloc[[i-1 for i in val_top20.index]]
train_top20

,0,1,2,3,4,5,6
610,train_n_200_lr_0.1_d_4_child_16,435.60,436.14,440.45,433.09,439.29,436.91
690,train_n_500_lr_0.05_d_4_child_20,433.74,432.62,437.18,430.93,436.54,434.20
686,train_n_500_lr_0.05_d_4_child_12,431.06,429.48,434.31,427.44,433.39,431.14
612,train_n_200_lr_0.1_d_4_child_20,436.80,436.43,440.81,434.53,440.46,437.81
574,train_n_100_lr_0.1_d_6_child_16,426.74,425.32,431.34,424.71,432.89,428.20
652,train_n_200_lr_0.05_d_6_child_16,427.77,426.21,432.89,425.21,432.02,428.82
630,train_n_200_lr_0.1_d_5_child_20,423.14,423.89,427.35,420.14,427.41,424.39
688,train_n_500_lr_0.05_d_4_child_16,432.01,431.03,435.94,430.31,435.32,432.92
318,train_n_500_lr_0.05_d_4_child_10,429.50,429.30,434.55,426.90,432.35,430.52
742,train_n_1000_lr_0.05_d_3_child_16,436.85,434.59,440.70,433.05,438.38,436.71
634,train_n_200_lr_0.05_d_5_child_16,437.40,436.58,443.52,436.90,441.54,439.19
222,train_n_200_lr_0.05_d_5_child_10,434.84,434.46,441.34,433.75,439.01,436.68
632,train_n_200_lr_0.05_d_5_child_12,436.53,434.67,442.24,434.11,439.95,437.50
554,train_n_100_lr_0.1_d_5_child_12,435.18,433.93,441.66,433.75,438.32,436.57
666,train_n_500_lr_0.1_d_3_child_20,435.45,434.24,439.68,431.91,438.18,435.89
254,train_n_200_lr_0.05_d_6_child_10,422.13,422.78,430.85,420.10,427.00,424.57
608,train_n_200_lr_0.1_d_4_child_12,434.78,433.52,438.72,431.63,437.24,435.18
664,train_n_500_lr_0.1_d_3_child_16,436.04,433.92,439.12,431.99,437.33,435.68
744,train_n_1000_lr_0.05_d_3_child_20,437.81,435.47,441.31,432.54,438.88,437.20
572,train_n_100_lr_0.1_d_6_child_12,424.34,423.30,427.87,422.96,428.37,425.37

#### xgb (n_500_lr_0.05_d_4_child_10) or (n_200_lr_0.05_d_5_child_10)
##### n 늘려볼 필요 있음 -> n을 늘일 필요는 없어 보임

### gbr

In [35]:
gbr = pd.read_csv('gbr.csv', header = None)

In [37]:
val = gbr[1::2]
val_top20 = val.sort_values([6])[:20]
val_top20

,0,1,2,3,4,5,6
311,val_lr_0.05_n_500_d_4_s_4_leaf_4,462.66,469.99,445.52,477.39,457.00,462.51
305,val_lr_0.05_n_500_d_4_s_2_leaf_4,462.66,469.99,445.52,477.39,457.00,462.51
281,val_lr_0.05_n_200_d_5_s_2_leaf_4,462.19,470.66,445.26,479.21,456.09,462.68
287,val_lr_0.05_n_200_d_5_s_4_leaf_4,462.19,470.66,445.26,479.21,456.09,462.68
309,val_lr_0.05_n_500_d_4_s_4_leaf_2,463.00,470.16,446.08,477.85,456.65,462.75
303,val_lr_0.05_n_500_d_4_s_2_leaf_2,463.00,470.16,446.08,477.85,456.65,462.75
47,val_lr_0.2_n_200_d_3_s_4_leaf_4,463.04,471.30,446.70,476.50,457.18,462.94
41,val_lr_0.2_n_200_d_3_s_2_leaf_4,463.04,471.30,446.70,476.50,457.18,462.94
159,val_lr_0.1_n_200_d_4_s_2_leaf_2,464.05,470.99,445.05,478.10,456.56,462.95
165,val_lr_0.1_n_200_d_4_s_4_leaf_2,464.05,470.99,445.05,478.10,456.56,462.95
163,val_lr_0.1_n_200_d_4_s_4_leaf_1,465.34,470.37,446.08,476.95,456.37,463.02
157,val_lr_0.1_n_200_d_4_s_2_leaf_1,465.64,469.33,446.39,476.92,457.08,463.07
301,val_lr_0.05_n_500_d_4_s_2_leaf_1,465.74,470.27,446.06,476.74,456.65,463.09
161,val_lr_0.1_n_200_d_4_s_2_leaf_4,463.56,471.65,446.02,477.94,456.45,463.12
167,val_lr_0.1_n_200_d_4_s_4_leaf_4,463.56,471.65,446.02,477.94,456.45,463.12
285,val_lr_0.05_n_200_d_5_s_4_leaf_2,463.90,470.87,447.32,478.18,455.38,463.13
279,val_lr_0.05_n_200_d_5_s_2_leaf_2,463.90,470.87,447.32,478.18,455.38,463.13
43,val_lr_0.2_n_200_d_3_s_4_leaf_1,464.97,471.29,446.75,475.28,457.52,463.16
23,val_lr_0.2_n_100_d_4_s_4_leaf_4,464.66,472.31,445.96,476.02,457.36,463.26
17,val_lr_0.2_n_100_d_4_s_2_leaf_4,464.66,472.31,445.96,476.02,457.36,463.26

In [38]:
train_top20 = gbr.iloc[[i-1 for i in val_top20.index]]
train_top20

,0,1,2,3,4,5,6
310,train_lr_0.05_n_500_d_4_s_4_leaf_4,423.76,422.24,429.32,421.27,425.17,424.35
304,train_lr_0.05_n_500_d_4_s_2_leaf_4,423.76,422.24,429.32,421.27,425.17,424.35
280,train_lr_0.05_n_200_d_5_s_2_leaf_4,429.23,428.23,436.73,428.23,433.05,431.09
286,train_lr_0.05_n_200_d_5_s_4_leaf_4,429.23,428.23,436.73,428.23,433.05,431.09
308,train_lr_0.05_n_500_d_4_s_4_leaf_2,422.58,421.76,426.65,419.69,425.06,423.15
302,train_lr_0.05_n_500_d_4_s_2_leaf_2,422.58,421.76,426.65,419.69,425.06,423.15
46,train_lr_0.2_n_200_d_3_s_4_leaf_4,433.95,433.01,437.23,431.07,435.39,434.13
40,train_lr_0.2_n_200_d_3_s_2_leaf_4,433.95,433.01,437.23,431.07,435.39,434.13
158,train_lr_0.1_n_200_d_4_s_2_leaf_2,428.30,426.78,431.76,424.27,431.10,428.44
164,train_lr_0.1_n_200_d_4_s_4_leaf_2,428.30,426.78,431.76,424.27,431.10,428.44
162,train_lr_0.1_n_200_d_4_s_4_leaf_1,427.49,426.05,431.54,423.50,429.21,427.56
156,train_lr_0.1_n_200_d_4_s_2_leaf_1,426.71,424.56,431.40,423.83,429.41,427.18
300,train_lr_0.05_n_500_d_4_s_2_leaf_1,421.21,419.70,425.21,418.24,422.75,421.42
160,train_lr_0.1_n_200_d_4_s_2_leaf_4,430.03,428.17,434.74,426.16,431.51,430.12
166,train_lr_0.1_n_200_d_4_s_4_leaf_4,430.03,428.17,434.74,426.16,431.51,430.12
284,train_lr_0.05_n_200_d_5_s_4_leaf_2,428.32,427.28,434.43,426.08,430.76,429.37
278,train_lr_0.05_n_200_d_5_s_2_leaf_2,428.32,427.28,434.43,426.08,430.76,429.37
42,train_lr_0.2_n_200_d_3_s_4_leaf_1,430.79,430.01,436.15,428.80,434.66,432.08
22,train_lr_0.2_n_100_d_4_s_4_leaf_4,430.00,426.96,431.53,424.33,429.53,428.47
16,train_lr_0.2_n_100_d_4_s_2_leaf_4,430.00,426.96,431.53,424.33,429.53,428.47

#### gbr (lr_0.05_n_500_d_4_s_4_leaf_4) or (lr_0.05_n_200_d_5_s_2_leaf_4)

In [48]:
# xgb = pd.read_csv('xgb.csv', header = None)
# df = xgb

In [49]:
# xgb

,0,1,2,3,4,5,6
0,train_n_100_lr_0.3_d_3_child_1,438.95,438.61,444.65,436.71,440.97,439.98
1,val_n_100_lr_0.3_d_3_child_1,465.61,472.75,447.77,478.95,456.21,464.26
2,train_n_100_lr_0.3_d_3_child_2,439.90,438.32,444.60,436.83,440.92,440.11
3,val_n_100_lr_0.3_d_3_child_2,464.40,472.18,448.26,479.38,454.27,463.70
4,train_n_100_lr_0.3_d_3_child_5,440.25,440.50,444.57,436.06,443.75,441.03
...,...,...,...,...,...,...,...
795,val_n_1000_lr_0.05_d_6_child_12,475.91,479.62,457.29,488.34,464.28,473.09
796,train_n_1000_lr_0.05_d_6_child_16,370.59,371.16,372.01,369.10,371.12,370.80
797,val_n_1000_lr_0.05_d_6_child_16,472.92,478.43,456.20,485.51,464.20,471.45
798,train_n_1000_lr_0.05_d_6_child_20,378.62,376.25,378.55,370.03,382.81,377.25
799,val_n_1000_lr_0.05_d_6_child_20,471.48,479.42,456.79,484.82,463.32,471.17

In [50]:
# df[6] = np.round((df[1] + df[2] + df[3] + df[4] + df[5])/5, 2)

In [52]:
# df.to_csv('xgb.csv', header=False, index=False)